/* custom styles */

.center-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    height: 100px;
}

.active {
    border: 5px solid red;
}

.result-img {
    max-width: 100px;
    max-height: 100px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
}