{% extends "_base.html" %} {% block content %}

<div class="row">

    <h2><b>Pangolin Search </b> 
  (
  {% if dataset_name == "museum" %}
    <input type="radio" name="dataset" value="museum" checked >Museum
  {% else %}
    <input type="radio" name="dataset" value="museum" >Museum
  {% endif %}
  {% if dataset_name == "porcelain" %}
    <input type="radio" name="dataset" value="porcelain" checked >Porcelain
  {% else %}
    <input type="radio" name="dataset" value="porcelain" >Porcelain
  {% endif %} 
  {% if dataset_name == "boston" %}
    <input type="radio" name="dataset" value="boston" checked >Boston
  {% else %}
    <input type="radio" name="dataset" value="boston" >Boston
  {% endif %} 
   )
  </h2>
    <br>
    <div class="row">
        <div class="col-md-6"> <input id="upload_image" type="file" name="upload_image" /> </div>
        <div class="col-md-6">or copy&paste a URL here: <input type="text" id="query_url"> <button id="url_submit">Submit</button> </div>

        <table class="table" id="query_image_table">
            <tbody id="query_image_page">
                <tr>
                    {% for img_id in range(query_images | length) %}
                    <th><img src="http://209.6.125.190:8080/static/{{query_images[img_id]}}" class="img"></th>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <p id="page_list">
        <a href="#" class="goto_view">
            <<</a>
                <a href="#" class="goto_view">
                    <</a>
                        {% for page_id in range(1,num_pages+1) %}
                        <a href="#" class="goto_page">{{page_id}}</a> 
                        {% endfor %}
                        <a href="#" class="goto_view">></a>
                        <a href="#" class="goto_view">>></a>
    </p>
</div>


</div>

<div class="row">
    <h2>Results</h2>
    <br>
    <div class="col-md-4">
        <p> <img src="" id="query_image" style="height: 250px;"> </p>
    </div>
    <div class="col-md-8">
        <p id="searching">Searching...</p>
        <p id="error">Oh no! No results! Check your internet connection.</p>
        <table class="table" id="results-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Score</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>
</div>

<br>



<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-102304324-1', 'auto');
    ga('send', 'pageview');
</script>


{% endblock %}
